<div class="list-group">
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/urls">URLs</a>
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/brosers">Browsers</a>
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/os">Operating Systems</a>
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/resolution">Screen Resolutions</a>
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/responsetime">Average Response Time</a>
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/subpages">Subpages</a>
  <a type="button" class="list-group-item" href="/sources/<%= @params[:identifier] %>/events">Events</a>
</div>
