<div class="panel panel-default">
  <div class="panel-heading">Response Time Statistics</div>
  <table class="table">
    <tbody>
        <tr>
          <td>Shortest Response Time</td>
          <td><%=@params[:response]["min"]%></td>
        </tr>
        <tr>
          <td>Longest Response Time</td>
          <td><%=@params[:response]["max"]%></td>
        </tr>
        <tr>
          <td>Average Response Time</td>
          <td><%=@params[:response]["avg"]%></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Referrers</div>
  <table class="table">
    <thead>
      <tr>
        <th>Referrer</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:referrers].each do |ref, count| %>
        <tr>
          <td><%= ref %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Browsers</div>
  <table class="table">
    <thead>
      <tr>
        <th>Browser</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:browsers].each do |browser, count| %>
        <tr>
          <td><%= browser %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Operating Systems</div>
  <table class="table">
    <thead>
      <tr>
        <th>OS</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:operating_systems].each do |os, count| %>
        <tr>
          <td><%= os %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Request Types</div>
  <table class="table">
    <thead>
      <tr>
        <th>Request Type</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:http_verbs].each do |verb, count| %>
      <tr>
        <td><%= verb %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</li>
