<% @params[:data].each do |contents| %>
<% table = contents.last %>
  <div class="row well">
    <span class="header"><h3><%= table[:title] %></h3></span>
    <div class="row well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-left span3"><%= table[:headers].first %></th>
          <th class="text-right span3"><%= table[:headers].last %></th>
        </tr>
      </thead>
      <tbody>
        <% table[:rows].each do |label, value| %>
          <tr>
            <td class="text-left span3"><%= label %></td>
            <td class="text-right span3"><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
<% end %>
