<table class="table">
  <tbody>
    <% @params[:data].each do |url, count| %>
      <tr>
        <td><%= url %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Referrers</div>
  <table class="table">
    <thead>
      <tr>
        <th>Referrer</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:referrers].each do |ref, count| %>
        <tr>
          <td><%= ref %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Browsers</div>
  <table class="table">
    <thead>
      <tr>
        <th>Browser</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:browsers].each do |browser, count| %>
        <tr>
          <td><%= browser %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Operating Systems</div>
  <table class="table">
    <thead>
      <tr>
        <th>OS</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:operating_systems].each do |os, count| %>
        <tr>
          <td><%= os %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most Popular Request Types</div>
  <table class="table">
    <thead>
      <tr>
        <th>Request Type</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @params[:http_verbs].each do |verb| %>
      <tr>
        <td><%= verb %></td>
        <td>Count</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</li>
