<div class = 'panel panel-default'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-left span3"><%= @params[:url_title] %></th>
        <th class="text-right span3"><%= @params[:count_title] %></th>
      </tr>
    </thead>
    <tbody>
      <% @params[:data].each do |url, count| %>
        <tr>
          <td class="text-left span3"><a href="urls/<%= url %>"><%= url %></td>
          <td class="text-right span3"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
